.ks-lw-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;

  .pool-info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 4px;
    font-size: 14px;

    .pool-tokens-logo {
      display: flex;
      align-items: flex-end;

      img {
        border-radius: 50%;
      }

      img:nth-child(2) {
        margin-left: -6px;
      }

      .network-logo {
        margin-left: -4px;
      }
    }

    .symbol {
      font-size: 20px;
    }

    .tag {
      border-radius: 6px;
      background: var(--ks-lw-success);
      padding: 2px 4px;
      font-size: 12px;
    }

    .tag-primary {
      background: var(--ks-lw-success);
    }

    .tag-warning {
      background: var(--ks-lw-warning);
    }

    .dex-type {
      gap: 4px;
      display: flex;
      color: var(--ks-lw-subText);
      align-items: center;
    }
  }

  .setting {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: var(--ks-lw-layer2);
    cursor: pointer;

    &:hover {
      filter: brightness(120%);
    }

    &:active {
      transform: scale(0.96);
    }
  }
}

.ks-lw-title {
  display: flex;
  font-size: 20px;
  font-weight: 500;
  justify-content: space-between;
  align-items: center;

  .close-btn {
    cursor: pointer;
  }

  .tag {
    margin-left: 4px;
    height: max-content;
    border-radius: 6px;
    background: var(--ks-lw-success);
    padding: 2px 6px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .tag-primary {
    background: var(--ks-lw-success);
  }

  .tag-warning {
    background: var(--ks-lw-warning);
  }
}
