.ks-lw-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;

  .pool-info {
    display: flex;
    align-items: center;
    gap: 12px;

    .pool-tokens-logo {
      position: relative;
      width: 48px;
      height: 48px;

      img {
        border-radius: 50%;
      }

      .token0 {
        position: absolute;
        width: 28px;
        height: 28px;
        top: 0;
        left: 0;
      }

      .token1 {
        position: absolute;
        width: 36px;
        height: 36px;
        bottom: 0;
        right: 0;
      }

      .network-logo {
        position: absolute;
        width: 16px;
        height: 16px;
        background: #1e1e1e;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        bottom: 0;
        right: 0;
      }
    }

    .symbol {
      font-size: 24px;
      font-weight: 600;
      display: flex;
      align-items: center;
      gap: 4px;

      span {
        color: var(--ks-lw-textSecondary);
      }

      .pos-id {
        font-size: 20px;
      }
    }

    .pos-info {
      display: flex;
      gap: 8px;

      .tag {
        border-radius: 999px;
        padding: 0px 8px;
        height: 24px;
        background: var(--ks-lw-tertiary);
        color: var(--ks-lw-textSecondary);
        font-size: 14px;
        display: flex;
        align-items: center;
        gap: 4px;
        box-sizing: border-box;
      }

      .tag-primary {
        border: 1px solid var(--ks-lw-green-20);
        color: var(--ks-lw-green-50);
        background: var(--ks-lw-green-10);
      }

      .tag-warning {
        background: var(--ks-lw-warnin);
      }
    }
  }

  .setting {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: var(--ks-lw-layer2);
    cursor: pointer;

    &:hover {
      filter: brightness(120%);
    }

    &:active {
      transform: scale(0.96);
    }
  }
}

.ks-lw-title {
  display: flex;
  font-size: 20px;
  font-weight: 600;
  justify-content: space-between;
  align-items: center;
  color: var(--ks-lw-textPrimary);
  padding: 1rem 24px;
  border-bottom: 1px solid var(--ks-lw-cardBorder);

  .sub-title {
    color: var(--ks-lw-textSecondary);
    font-size: 16px;
    font-weight: 400;
  }

  .close-btn {
    cursor: pointer;
    color: var(--ks-lw-textSecondary);
  }

  /* .tag { */
  /*   margin-left: 4px; */
  /*   height: max-content; */
  /*   border-radius: 6px; */
  /*   background: var(--ks-lw-success); */
  /*   padding: 2px 6px; */
  /*   font-size: 12px; */
  /*   display: flex; */
  /*   justify-content: center; */
  /*   align-items: center; */
  /* } */
  /**/
  /* .tag-primary { */
  /*   background: var(--ks-lw-success); */
  /* } */
  /**/
  /* .tag-warning { */
  /*   background: var(--ks-lw-warning); */
  /* } */
}
