:root {
  --ks-lw-text: #212121;
  --ks-lw-subText: #979797;
  --ks-lw-icons: #a9a9a9;
  --ks-lw-layer1: #0f0f0f;
  --ks-lw-dialog: #1c1c1c;
  --ks-lw-layer2: #313131;
  --ks-lw-stroke: #313131;
  --ks-lw-chart-range: #28e0b9;
  --ks-lw-chart-area: #047855;
  --ks-lw-accent: #31cb9e;
  --ks-lw-warning: #ff9901;
  --ks-lw-error: #ff537b;
  --ks-lw-success: #189470;

  --ks-lw-fontFamily: Work Sans;

  --ks-lw-borderRadius: 20px;
  --ks-lw-buttonRadius: 24px;

  --ks-lw-boxShadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
}

.ks-lw {
  background: var(--ks-lw-layer1);
  color: var(--ks-lw-text);
  border-radius: var(--ks-lw-borderRadius);
  padding: 24px;
  font-family: var(--ks-lw-fontFamily);
  position: relative;
  transition: all 0.2s;
}
