.ks-lw-preview {
  .pool-info {
    display: flex;
    align-items: center;
    gap: 12px;

    .pool-tokens-logo {
      position: relative;
      width: 48px;
      height: 48px;

      img {
        border-radius: 50%;
      }

      .token0 {
        position: absolute;
        width: 28px;
        height: 28px;
        top: 0;
        left: 0;
      }

      .token1 {
        position: absolute;
        width: 36px;
        height: 36px;
        bottom: 0;
        right: 0;
      }

      .network-logo {
        position: absolute;
        width: 16px;
        height: 16px;
        background: #1e1e1e;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        bottom: 0;
        right: 0;
      }
    }

    .symbol {
      font-size: 24px;
      font-weight: 600;
      display: flex;
      align-items: center;
      gap: 4px;

      span {
        color: var(--ks-lw-textSecondary);
      }

      .pos-id {
        font-size: 20px;
      }
    }

    .pos-info {
      display: flex;
      gap: 8px;

      .tag {
        border-radius: 999px;
        padding: 0px 8px;
        height: 24px;
        background: var(--ks-lw-tertiary);
        color: var(--ks-lw-textSecondary);
        font-size: 14px;
        display: flex;
        align-items: center;
        gap: 4px;
        box-sizing: border-box;
      }

      .tag-primary {
        border: 1px solid var(--ks-lw-green-20);
        color: var(--ks-lw-green-50);
        background: var(--ks-lw-green-10);
      }

      .tag-warning {
        background: var(--ks-lw-warnin);
      }
    }
  }

  .est-usd {
    color: var(--ks-lw-textSecondary);
    font-weight: 400;
    font-size: 14px;
  }

  .row {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 14px;
    color: var(--ks-lw-textSecondary);
  }

  .row-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: 100%;
  }

  .price-info {
    flex: 1;
    width: 50%;
    background: var(--ks-lw-inputBackground);
    padding: 12px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
  }

  .flex-col {
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: center;
  }

  .summary-title {
    font-size: 14px;
    font-weight: 500;
    color: var(--ks-lw-textSecondary);
  }

  .underline {
    border-bottom: 1px dotted var(--ks-lw-textSecondary);
  }

  .summary-value {
    font-size: 14px;
    font-weight: 500;
  }
}

.ks-lw-confirming {
  margin-top: 1rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 500;

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }

  .spinner {
    color: var(--ks-lw-green-50);
    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  .loading-area {
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    flex-direction: column;
    flex: 1;
  }

  .subText {
    font-size: 14px;
    color: var(--ks-lw-textSecondary);
  }

  .error-icon {
    color: var(--ks-lw-error);
  }

  .success-icon {
    color: var(--ks-lw-green-50);
  }

  .view-tx {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: var(--ks-lw-secondary);
    font-size: 14px;
    gap: 4px;
  }

  .error-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    cursor: pointer;
    width: 100%;
  }

  .error-msg {
    margin-top: 0;
    max-height: 0;
    transition: 0.2s ease-out;

    font-size: 12px;
    color: var(--ks-lw-textSecondary);
    overflow-wrap: break-word;
    overflow-y: scroll;

    /* width */
    ::-webkit-scrollbar {
      display: unset;
      width: 6px;
      border-radius: 999px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      background: transparent;
      border-radius: 999px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: var(--ks-lw-textSecondary);
      border-radius: 999px;
    }
  }

  .error-open {
    margin-top: 12px;
    max-height: 200px;
  }

  .divider {
    height: 1px;
    width: 100%;
    background: var(--ks-lw-cardBorder);
  }
}
