#root {
  margin: auto;
}

body {
  margin: 0;
  background-color: rgb(15, 15, 15);
}

.pancake-demo-header {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  background-color: #1c1c1c;
}

.pancake-demo-app {
  margin: auto;
  width: 100%;
  max-width: 960px;
}

.pancake-demo-params-wrapper {
  color: #fff;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
}

.pancake-demo-params-container {
  display: grid;
  grid-template-columns: 100px 500px;
  gap: 1rem;
}

@media screen and (max-width: 768px) {
  .pancake-demo-params-container {
    grid-template-columns: 80px 250px;
  }
}

.pancake-demo-input {
  background-color: #1c1c1c;
  border-radius: 16px;
  padding: 8px 16px;
  outline: none;
  border: 1px solid transparent;
  transition: 0.2s ease-in-out;
  color: #fff;
}

.pancake-demo-btn {
  outline: none;
  border: none;
  border-radius: 999px;
  font-size: 14px;
  font-weight: 500;
  padding: 0.5rem 1rem;
  background: #28e0b9;
  color: #313131;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 4%);
  width: fit-content;
}
