.outline-btn {
  background: none;
  border: 1px solid var(--ks-lw-accent);
  border-radius: var(--ks-lw-buttonRadius);
  color: var(--ks-lw-accent);
  font-size: 14px;
  font-weight: 500;
  padding: 10px 12px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  justify-self: flex-end;
  align-items: center;

  &:hover {
    filter: brightness(120%);
  }

  &:active {
    transform: scale(0.99);
  }
}

.primary-btn {
  background: var(--ks-lw-accent);
  border: 1px solid var(--ks-lw-accent);
  border-radius: var(--ks-lw-buttonRadius);
  color: var(--ks-lw-layer1);
  font-size: 14px;
  font-weight: 500;
  padding: 10px 12px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  justify-self: flex-end;
  align-items: center;

  &:hover {
    filter: brightness(110%);
  }

  &:enabled:active {
    transform: scale(0.99);
  }

  &:disabled {
    cursor: not-allowed;
    color: var(--ks-lw-subText);
    background: var(--ks-lw-layer2);
    border-color: var(--ks-lw-layer2);
    filter: brightness(108%);
  }
}

.ks-lw-content {
  margin-top: 20px;
  display: flex;
  gap: 20px;

  @media screen and (max-width: 666px) {
    flex-direction: column;
  }

  .left {
    flex: 1;
    width: 50%;

    @media screen and (max-width: 666px) {
      width: 100%;
    }

    .price-info {
      border-radius: var(--ks-lw-borderRadius);
      border: 1px solid var(--ks-lw-stroke);
      padding: 12px 16px;

      div:nth-child(2) {
        margin-top: 6px;
      }

      .row {
        display: flex;
        align-items: center;
        gap: 4px;
        color: var(--ks-lw-subText);
        font-size: 14px;

        .price {
          font-weight: 500;
          color: var(--ks-lw-text);
        }
      }
    }

    .price-warning {
      padding: 12px 16px;
      color: var(--ks-lw-subText);
      font-size: 14px;
      border-radius: var(--ks-lw-borderRadius);
      margin-top: 1rem;
      font-weight: 400;

      .row {
        display: flex;
        gap: 4px;
        align-items: center;
      }

      .text {
        font-style: italic;
        color: var(--ks-lw-text);
      }
    }

    .liquidity-chart {
      margin-top: 1rem;
    }

    .label-row {
      display: flex;
      justify-content: space-between;
      font-size: 14px;

      .outline-btn {
        font-size: 12px;
        border-radius: 4px;
        padding: 4px 6px;
      }
    }

    .price-input {
      margin-top: 0.5rem;
      padding: 10px 12px 10px 8px;
      gap: 10px;
      display: flex;
      border: 1px solid var(--ks-lw-stroke);
      border-radius: var(--ks-lw-borderRadius);

      .input-wrapper {
        display: flex;
        flex-direction: column;
        gap: 8px;
        flex: 1;
        font-size: 12px;
        font-weight: 500;
        color: var(--ks-lw-subText);

        input {
          background: transparent;
          color: var(--ks-lw-text);
          font-size: 16px;
          padding: 0;
          border: none;
          outline: none;

          &:disabled {
            cursor: not-allowed;
            opacity: 0.6;
          }
        }
      }

      .action {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        justify-content: center;

        button {
          width: 24px;
          height: 24px;
          border-radius: 4px;
          border: 1px solid var(--ks-lw-stroke);
          background: var(--ks-lw-layer2);
          color: var(--ks-lw-subText);
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;

          &:hover:enabled {
            filter: brightness(150%);
          }

          &:active:enabled {
            transform: scale(0.96);
          }

          &:disabled {
            cursor: not-allowed;
            opacity: 0.6;
          }
        }
      }
    }

    .liquidity-to-add {
      margin-top: 1rem;

      .note {
        color: var(--ks-lw-subText);
        font-style: italic;
        font-size: 12px;
        margin-top: 8px;
      }

      .label {
        font-size: 16px;
      }

      .input-token {
        margin-top: 8px;
        border: 1px solid var(--ks-lw-stroke);
        background: var(--ks-lw-layer2);
        border-radius: var(--ks-lw-borderRadius);
        padding: 12px;

        .balance {
          display: flex;
          justify-content: space-between;
          color: var(--ks-lw-subText);
          font-size: 14px;
          font-weight: 500;

          .balance-flex {
            display: flex;
            align-items: center;
            gap: 6px;
          }
        }

        button {
          background: var(--ks-lw-layer2);
          border: none;
          border-radius: 999px;
          outline: inherit;
          cursor: pointer;
          padding: 6px 12px;
          align-items: center;
          color: var(--ks-lw-text);

          filter: brightness(130%);
          display: flex;
          align-items: center;
          gap: 4px;

          img {
            filter: brightness(80%);
          }

          &:hover {
            filter: brightness(140%);

            img {
              filter: brightness(80%);
            }
          }

          &:active {
            transform: scale(0.96);
          }
        }

        .small {
          padding: 2px 6px;
          font-size: 12px;
        }

        .input-row {
          width: 100%;
          display: flex;
          margin-top: 1rem;
          align-items: center;
          gap: 8px;

          .est-usd {
            color: var(--ks-lw-subText);
            font-size: 12px;
          }

          .input {
            flex: 1;

            input {
              background: transparent;
              color: var(--ks-lw-text);
              font-size: 20px;
              font-weight: 500;
              width: 100%;
              padding: 0;
              border: none;
              outline: none;
            }
          }
        }
      }
    }
  }

  .right {
    flex: 1;
    width: 50%;

    @media screen and (max-width: 666px) {
      width: 100%;
    }

    .price-warning {
      padding: 12px 16px;
      color: var(--ks-lw-subText);
      font-size: 14px;
      border-radius: var(--ks-lw-borderRadius);
      margin-top: 1rem;
      font-weight: 400;

      .row {
        display: flex;
        gap: 4px;
        align-items: center;
      }

      .text {
        font-style: italic;
        color: var(--ks-lw-text);
      }
    }

    .zap-route {
      border: 1px solid var(--ks-lw-stroke);
      border-radius: var(--ks-lw-borderRadius);
      padding: 12px 16px;

      .title {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 4px;
        display: flex;
        justify-content: space-between;
      }

      .subTitle {
        color: var(--ks-lw-subText);
        font-style: italic;
        font-size: 12px;
      }

      .divider {
        width: 100%;
        height: 1px;
        background: var(--ks-lw-stroke);
      }

      .row {
        display: flex;
        gap: 12px;
        align-items: center;
        margin-top: 12px;

        .step {
          border-radius: 50%;
          width: 24px;
          height: 24px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 12px;
          font-weight: 500;
          background: var(--ks-lw-layer2);
        }

        .text {
          flex: 1;
          font-size: 12px;
          color: var(--ks-lw-subText);
          line-height: 16px;
        }
      }
    }

    .warning-msg {
      border-radius: var(--ks-lw-borderRadius);
      font-size: 12px;
      padding: 12px 16px;
      margin-top: 1rem;
      font-weight: 400;
    }

    .est-liq-val {
      margin-top: 1rem;

      .detail-row {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 12px;
        font-size: 12px;

        .label {
          color: var(--ks-lw-subText);
          margin-top: 2px;
          width: fit-content;
        }

        .underline {
          border-bottom: 1px dotted var(--ks-lw-subText);
        }

        .token-amount {
          display: flex;
          justify-content: flex-end;
          align-items: flex-start;
          gap: 4px;
        }
      }
    }
  }
}

.ks-lw-action {
  display: flex;
  gap: 24px;
  margin-top: 24px;

  button {
    flex: 1;
  }
}

.ks-lw-modal-headline {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 500;
}
