.ks-lw-popover {
  z-index: 9999;
  visibility: hidden;

  opacity: 0;
  transition: visibility 150ms linear, opacity 150ms linear;

  background: #ffffff;
  border: 1px solid transparent;
  box-shadow: 0px 4px 8px 0px #00000029;
  color: #000000;
  border-radius: 16px;
  font-family: Kanit, Sans-serif;

  &[data-visibility="true"] {
    visibility: visible;
    opacity: 1;
  }

  .arrow {
    width: 10px;
    height: 10px;
    z-index: 9998;
  }

  .arrow::before {
    position: absolute;
    width: 10px;
    height: 10px;
    z-index: 9998;

    content: "";
    border: 1px solid transparent;
    transform: rotate(45deg);

    background: #ffffff;
  }

  .arrow-top {
    bottom: -5px;
  }

  .arrow-top::before {
    border-top: none;
    border-left: none;
  }

  .arrow-bottom {
    top: -6px;
  }

  .arrow-bottom::before {
    border-top: none;
    border-left: none;
  }

  .arrow-left {
    right: -3px;
  }

  .arrow-left::before {
    border-top: none;
    border-left: none;
  }

  .arrow-right {
    left: -6px;
  }

  .arrow-right::before {
    border-top: none;
    border-left: none;
  }
}
