.ks-lw-input {
  border: none;
  outline: none;
  background: var(--ks-lw-inputBackground);
  color: var(--ks-lw-text);
  border-radius: 16px;
  border: none;
  outline: none;
  width: 100%;
  padding: 8px 16px;
  line-height: 24px;

  ::placeholder {
    color: var(--ks-lw-textSecondary);
  }
}
