@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* button */
  .ks-primary-btn,
  .ks-ui-style .ks-primary-btn {
    @apply flex justify-center items-center justify-self-end;
    @apply border border-accent rounded-md;
    @apply text-sm font-medium bg-accent text-layer1;
    @apply px-3 py-[10px] cursor-pointer;

    @apply hover:enabled:brightness-110;
    @apply active:enabled:scale-99;
    @apply disabled:cursor-not-allowed disabled:text-subText disabled:bg-layer2 disabled:border-layer2 disabled:brightness-105;
  }

  .ks-outline-btn,
  .ks-ui-style .ks-outline-btn {
    @apply flex justify-center items-center justify-self-end;
    @apply border border-[#ffffffb3] rounded-md;
    @apply text-sm font-medium bg-transparent text-[#ffffffb3];
    @apply px-3 py-[10px] cursor-pointer;

    @apply hover:border-accent hover:text-accent;
    @apply active:scale-99;
  }
}

@keyframes highlight {
  0% {
    box-shadow: 0 0 0 0 var(--ks-lw-accent);
  }

  70% {
    box-shadow: 0 0 0 2px var(--ks-lw-accent);
  }

  100% {
    box-shadow: 0 0 0 0 var(--ks-lw-accent);
  }
}

.degen-mode[data-highlight='true'] {
  animation: highlight 2s 2 alternate ease-in-out;
}
