.ks-transactions-content .scrollbar {
  overflow-x: hidden !important;
}

.ks-transactions-content .scrollbar::-webkit-scrollbar {
  display: block;
  width: 4px;
}

.ks-transactions-content .scrollbar::-webkit-scrollbar-thumb {
  background: var(--ks-border);
}
