.ks-lw-setting {
  position: absolute;
  width: 360px;
  right: 24px;
  top: 136px;
  background: var(--ks-lw-cardBackground);
  padding: 1rem;
  border: 1px solid var(--ks-lw-cardBorder);
  border-radius: 24px;
  box-shadow: 0px 4px 8px 0px #00000029;

  .title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  .setting-title {
    font-size: 14px;
    line-height: 20px;
  }

  .underline {
    border-bottom: 1px dotted var(--ks-lw-textSecondary);
  }

  .row-btw {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
  }

  .slp-input-wrapper {
    border-radius: 16px;
    margin-top: 8px;
    background: var(--ks-lw-inputBackground);
    border: 1px solid var(--ks-lw-inputBorder);
    box-shadow: 0px 2px 0px -1px #0000000f inset;
    display: flex;

    &[data-error="true"] {
      border: 1px solid var(--ks-lw-error);
    }

    &[data-warning="true"] {
      border: 1px solid var(--ks-lw-warning);
    }

    .slp-item {
      position: relative;
      border-radius: 16px;
      color: var(--ks-lw-subText);
      font-size: 16px;
      padding: 4px;
      font-weight: 600;
      display: flex;
      flex: 1;
      border: 1px solid transparent;
      align-items: center;
      gap: 8px;
      justify-content: center;
      cursor: pointer;
      box-sizing: border-box;

      &[data-active="true"] {
        color: var(--ks-lw-textReverse);
        background: var(--ks-lw-textSecondary);
      }

      input {
        width: 72px;
        background: var(--ks-lw-inputBackground);
        color: var(--ks-lw-text);
        font-weight: 600;
        border: none;
        outline: none;
        text-align: right;
        width: 100%;
        font-size: 16px;
        padding: 0;

        /* &:focus { */
        /*   background: var(--ks-lw-layer1); */
        /* } */
      }
    }
  }

  .ttl-input {
    display: flex;
    padding: 6px 8px;
    gap: 4px;
    border-radius: 999px;
    background: var(--ks-lw-inputBackground);
    color: var(--ks-lw-text);
    font-size: 12px;
    font-weight: 500;
    text-align: right;

    input {
      border: none;
      outline: none;
      width: 48px;
      padding: 0;
      background: transparent;
      text-align: right;
      color: var(--ks-lw-text);
    }
  }
}

.ks-lw-degen-confirm {
  .title {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    align-items: center;
    font-weight: 600;
  }

  .content {
    font-size: 14px;
    color: var(--ks-lw-subText);
    margin-top: 1.25rem;
  }

  input {
    box-sizing: border-box;
    margin-top: 1.25rem;
    padding: 8px 16px;
    font-size: 14px;
    line-height: 21px;
    outline: none;
    border: none;
    width: 100%;
  }

  .action {
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;

    button {
      flex: 1;
    }
  }
}
